/* Make the body background nice */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container1 {
  height: 100%;
  width: 100%;
  background-color: #edae4d;
  color: white;
  padding: 3px 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  display: flex;

}

.container2{
    margin-bottom: 10px;
    display: flex;
    margin-top: 10px;
    margin-left: 1030px;
    text-align: center;
}

.container3{
    font-size: 20px;
    display: flex;
    margin-top: 5px;
    color: yellowgreen;
}
.container4{
    display: flex; 
}
.container4 img{
   justify-content: space-evenly;
   padding: 1px 3px;
}

.container5{
    text-align: center;
    display: flex;
    background-color: #40312a;
    padding: 10px
}

.navbar a{
  text-align: center;
  color: white;
  text-decoration: none;
  justify-content: space-evenly; /* <-- yahi single property barabar spacing degi */
  align-items: center;
  padding: 10px 5px;
}


.container6 a{
 font-size: 19px;
 margin-left: 650px;
 color: white;
}
.container7{
    margin-left: 5px;
}



.search-box {
  margin-left: 10px;
  position: relative;
}

.search-box .input {
  background-color: #2c8396;
  padding: 1px ; /* right padding for icon space */
  border-radius: 6px;
  font-size: 14px;
}
.search-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}   

.section1 {
    width: 100%;
    background: #dac7a6;
    padding: 60px 30px;
    justify-content: space-between;
}

.sc1 {
    display: flex;
    flex-direction: column;
    background: #3a2b25;
    color: white;
    padding: 30px;
    width: 100%;
   
}

.sc1 h2{
  width: 25%;
}
.sc1 p{
  padding-top: 10px;
  width: 50%;
  justify-content: center;
  
}
.sb1 {
    margin-top: 20px;
}

.btn-primary {
    background: #faba5c;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.btn-secondary {
    background: #faba5c;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.sci1{
  
   margin-left: 850px;
   margin-top: -260px;  
}
.sci1 img{
  position: relative;
   z-index: 10;   /* upar */
    width: 240px;
    height: 180px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.sci2{
 
   margin-top: -145px; 
   margin-left: 910px;
  
}
.sci2 img{
  position: relative;
  z-index: 1;
   width: 240px;
    height: 130px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.sc2{
  padding: 10px;
  background: #257286;
}
.sc2 p{
  margin-left: 20px;
  color: white;
}

.s2{

}
.ss2{
  display: flex;
}
.s2c1{
  background: #f7eedf;
  width: 60%;
  margin-top: 87px;
}
.h1{
  margin-top: 40px;
  margin-left: 30px;
  font-weight: 900;
  color: #63989c;
}
.h2{
  margin-top: 30px;
  margin-left: 30px;
  color: #9e9487;
}
.p2{
  margin-left: 30px;
  width: 80%;
  color: black;
}
.p1{
  margin-left: 30px;
  color: #f9bb59;
}
span{
  color: blue;
}

.s2c1 img {
  margin-left: 30px;
  margin-top: 10px;
  width: 90%;
}
.s2c2{
  margin-top: 87px;
  width: 40%;
  background: #efdfc8;
}








